@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --tenne-tawny: #d60808;
    --tenne-tawny-dark: #eee5e0;
    --another:#00000000;
}
body{
    font-weight: 300;
    font-size: 1.05rem;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
    color: var(--another);
    
    

    text-transform: capitalize;
}

header{
    position: fixed;
    box-shadow: var(--box-shadow);
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    justify-content: space-between;
    padding: 1rem 7%;
    display: flex;
    background: var(--tenne-tawny); 
    height: 80px;
    height: 7rem;
}
 .logo{
    color: var(--tenne-tawny-dark);
    font-size: 2.5rem;
    font-weight: bolder;
    justify-content: space-between;  
	margin: 0 0 10px;
}

.head .logo span{
	color:  var(--tenne-tawny);
}

header .logo i{
    color: var(--tenne-tawny-dark);
}

header .nav-container .active{
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
   
}

header .nav-container a{
    font-size: 1.7rem;
    color: var(--lihgt);
    padding: .5rem 1.5rem;
    border-radius: .5rem;
  
}
header .nav-container a.active,
header .nav-container a:hover{
    opacity: 1;
    background: var(--orage);
    color: black;
}


header .icons i,
header .icons a {
    background: var(--lihgt);
    border-radius: 50%;
    cursor: pointer;
    margin-left: .5rem;
    min-height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 1.7rem;
    color:var(--tenne-tawny-dark);
    text-decoration: none;

}


header .icons i:hover,
header .icons a:hover{
   color: #080101de;
   background: var(--orage);
   opacity: 1;
   transform: rotate(360deg);
}


header .icons #bars{
    display: none;
}


/*  */
.btn{
    font-family: inherit;
    cursor: pointer;
    outline: 0;
    font-size: 1.05rem;
}
.text{
    opacity: 0.8;
}
.title{
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--tenne-tawny);
}

/*  */
.container{
    min-height: 100vh;
    color: var(--another);
    background-image: url('');
    background-image: url('https://media.giphy.com/media/5XLPWTWfj7h6M/giphy.gif');
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}
.meal-wrapper{
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}
.meal-search{
    margin: 2rem 0;
}
.meal-search cite{
    font-size: 1rem;
}
.meal-search-box{
    margin: 1.2rem 0;
    display: flex;
    align-items: stretch;
}

#gpg{
    background-size: cover;
    width: 100%;

}


.search-control,
.search-btn{
    width: 100%;
    
}
.search-control{
    padding: 0 1rem;
    font-size: 1.1rem;
    font-family: inherit;
    outline: 0;
    border: 1px solid var(--tenne-tawny);
    color: var(--tenne-tawny);
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    /* margin-bottom: 2rem */
}
.search-control::placeholder{
    color: var(--tenne-tawny);
 }
.search-btn{
    width: 55px;
    height: 55px;
    font-size: 1.8rem;
    background: var(--tenne-tawny-dark);
    color: var(--tenne-tawny);
    border: none;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
     /* padding-bottom: 2rem; */
}
.search-btn:hover{
    background: var(--tenne-tawny-dark);
    color: var(--tenne-tawny);
} 

  #stat{
    color: var(--tenne-tawny-dark);
 }

 .checked{
    color: var(--tenne-tawny);
 }




.meal-result{
    margin-top: 4rem;
}
#meal{
    margin: 2.4rem 0;
}
.meal-item{
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 21px -12px rgba(245, 7, 7, 0.79);
    margin: 2rem 0;
}

.meal-item:hover {
  box-shadow: -1px 10px 29px 0px rgba(238, 3, 3, 0.8);
}
.meal-img img{
    width: 100%;
    display: block;
}
.meal-name{
    padding: 1.5rem 0.5rem;
}
.meal-name h3{
    font-size: 1.4rem;
}
.recipe-btn{
    text-decoration: none;
    color: #fff;
    background: var(--tenne-tawny);
    font-weight: 500;
    font-size: 1.1rem;
    padding: 0.75rem 0;
    display: block;
    width: 175px;
    margin: 1rem auto;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}
.recipe-btn:hover{
    background: var(--tenne-tawny-dark);
    color: var(--tenne-tawny);
}


.meal-details{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    color: var(--another);
    background: var(--another);
    border-radius: 1rem;
    width: 90%;
    height: 90%;
    margin-top: 5rem;
    overflow-y: scroll;
    display: none;
    padding: 2rem 0;
    color: #eee5e0;
    background-image: url('https://media.giphy.com/media/3iA4F1ygKxFFdzu3cQ/giphy.gif');
}
.meal-details::-webkit-scrollbar{
    width: 10px;
}
.meal-details::-webkit-scrollbar-thumb{
    background: #f0f0f0;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}


.showRecipe{
    display: block;
}

.meal-details-content{
    margin: 2rem;
}
.meal-details-content p:not(.recipe-category){
    padding: 1rem 0;
}
.recipe-close-btn{
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-size: 1.8rem;
    background: #fff;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
}
.recipe-title{
    letter-spacing: 1px;
    padding-bottom: 1rem;
}
.recipe-category{
    background: #fff;
    font-weight: 600;
    color: var(--tenne-tawn);
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
}
.recipe-category{
    background: var(--another);
    font-weight: 600;
    color: var(--another);
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
}
.recipe-instruct{
    padding: 1rem 0;
}
.recipe-meal-img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0 auto;
    display: block;
}
.recipe-link{
    margin: 1.4rem 0;
}
.recipe-link a{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}
.recipe-link a:hover{
    opacity: 0.8;
}


.notFound{
    grid-template-columns: 1fr!important;
    color: var(--tenne-tawny);
    font-size: 1.8rem;
    font-weight: 600;
    width: 100%;
}


#star{
    color: var(--tenne-tawny-dark);
    cursor: pointer;
}
.checked {
  color: var(--tenne-tawny);
}

#red{
    color: #d60808;
}



.slider {
    width: 100%;
    height: 100vh;
    margin: 2rem auto;
    
}

.slider-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
   
}

.slide { 
    /* object-fit: contain; */
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0; 
    background-size: cover;
    transition: opacity 3s linear;
}

.slider-wrapper > .slide:first-child {
    opacity: 1;
}


.footer-distributed{
	background: black;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
	box-shadow: 0 1px 1px 0 rgba(240, 3, 3, 0.12);
	box-sizing: border-box;
	width: 100%;
	font: bold 16px sans-serif;
	text-align: left;
	padding: 50px 60px 40px;
	overflow: hidden;
   
}


.footer-distributed .footer-left{
	float: left;
}



.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Roboto', cursive;
	margin: 0 0 10px;
}

.footer-distributed h3 span{
	color:  var(--tenne-tawny);
}


.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  var(--tenne-tawny);
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}



.footer-distributed .footer-icons{
	margin-top: 40px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color: var(--tenne-tawny);
	border-radius: 2px;

	font-size: 20px;
	color: var(--tenne-tawny-dark);
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}



.footer-distributed .footer-right{
	float: right;
}

.footer-distributed .footer-right p{
	display: inline-block;
	vertical-align: top;
	margin: 15px 42px 0 0;
	color: var(--tenne-tawny);
}



.footer-distributed form{
	display: inline-block;
}

.footer-distributed form input,
.footer-distributed form textarea{
	display: block;
	border-radius: 3px;
	box-sizing: border-box;
	background-color: var(--another);
	box-shadow: 0 1px 0 0 rgba(175, 2, 2, 0.1);
	border: none;
	resize: none;

	font: inherit;
	font-size: 14px;
	font-weight: normal;
	color: var(--tenne-tawn) ;

	width: 400px;
	padding: 18px;
}

.footer-distributed ::-webkit-input-placeholder {
	color: white;
}

.footer-distributed ::-moz-placeholder {
	color:  var(--tenne-tawny-dark);
	opacity: 1;
}

.footer-distributed :-ms-input-placeholder{
	color: var(--tenne-tawny-dark);
}


.footer-distributed form input{
	height: 55px;
	margin-bottom: 15px;
}

.footer-distributed form textarea{
	height: 100px;
	margin-bottom: 20px;
    color: var(--tenne-tawny-dark);
}

.footer-distributed form button{
	border-radius: 3px;
	background-color: var(--tenne-tawny);
	color: #ffffff;
	border: 0;
	padding: 15px 50px;
	font-weight: bold;
	float: right;
}









/* Media Queries */

@media screen and (max-width: 767px) {

  .nav-toggler{
    display: block;
  }
  .site-navbar {
    min-height: 60px;
  }
  .site-navbar ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 60px);
    left: 0;
    top: 60px;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #444;
    background-color: rgba(0,0,0,.75);
    max-height: 0;
    overflow: hidden;
    transition: .3s;
  }
  .site-navbar ul li {
    width: 100%;
    text-align: center;
  }
  .site-navbar ul li a {
    padding: 25px;
  }
  .site-navbar ul li a:hover {
    background-color: rgba(255,255,255,.1);
  }
  .site-navbar ul.open {
    max-height: 100vh;
    overflow: visible;
  }
  .intro-area h2 {
    font-size: 36px;
    margin-bottom: 15px;
  }  
 
}



 







@media screen and (min-width: 600px){
    .meal-search-box{
        width: 540px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px){
    #meal{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .meal-item{
        margin: 0;
    }
    .meal-details{
        width: 700px;
    }
}

@media screen and (min-width: 992px){
    #meal{
        grid-template-columns: repeat(3, 1fr);
    }
}


@media (max-width: 1000px) {

	.footer-distributed {
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-company-name{
		font-size: 12px;
	}

	.footer-distributed form input,
	.footer-distributed form textarea{
		width: 250px;
	}

	.footer-distributed form button{
		padding: 10px 35px;
	}

}

@media (max-width: 800px) {

	.footer-distributed{
		padding: 30px;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		float: none;
		max-width: 300px;
		margin: 0 auto;
	}

	.footer-distributed .footer-left{
		margin-bottom: 40px;
	}

	.footer-distributed form{
		margin-top: 30px;
	}

	.footer-distributed form{
		display: block;
	}

	.footer-distributed form button{
		float: none;
	}
}
